[Unit]
Description=Gunicorn instance to serve AI Trading Bot (React + Flask)
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Ai-Bot-Trader
# Use the gunicorn inside the venv to ensure all dependencies are loaded
ExecStart=/home/ubuntu/Ai-Bot-Trader/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 run:app

[Install]
WantedBy=multi-user.target
