[Unit]
Description=Gunicorn instance to serve AI Trading Bot (React + Flask)
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Ai-Bot-Trader
# Using single worker and longer timeout to debug 502 error
ExecStart=/home/ubuntu/Ai-Bot-Trader/venv/bin/gunicorn --workers 1 --timeout 120 --bind 0.0.0.0:8000 run:app

[Install]
WantedBy=multi-user.target
