[Unit]
Description=Gunicorn instance to serve AI Trading Bot (React + Flask)
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Ai-Bot-Trader
Environment="PATH=/home/ubuntu/Ai-Bot-Trader/venv/bin:/usr/local/bin:/usr/bin:/bin"
# Production command
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 run:app

[Install]
WantedBy=multi-user.target
